.advantages__wrapper {
  margin: 0 auto;
}

.advantages__prestart {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: lighter;
  text-align: center;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages__title {
  font-size: 18px;
  color: $basic-dark;
  text-align: center;
}

.advantages__description {
  text-align: center;
}
