.comment {
  line-height: 24px;
  padding: 25px 17px;
}

.comment__name {
  font-size: 14px;
  font-weight: bold;
}

.comment__time {
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
}

.comment__text {
  font-size: 14px;
  margin: 14px 0 27px 0;

  @media (min-width: $tablet-width) {
    font-size: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    width: 246px;
  }
}

.comment__button {
  padding: 0;
  color: $brand-color;
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-transform: uppercase; 
}

.comment__likes {
  position: relative;
  padding-left: 31px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 29px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(/img/catalog/heart.svg);
    width: 13px;
    height: 12px;
    left: 0;

    @media (min-width: $tablet-width) {
      right: 0;
      left: auto;
    }
  }
}
