.contact-info {
  border: 2px solid $border;
  border-radius: 1px;
}

.contact-info__tittle {
  font-size: 14px;
  color: $brand-color;
  text-transform: uppercase;
  text-align: center;
} 

.contact-info__label {
  font-size: 14px;
  color: $brand-color;
  text-transform: uppercase;
  text-align: center;
}

.contact-info__input {
  border: 2px solid $border;
  border-radius: 1px;
}


