.contact-info__fieldset {
  padding: 0;
  margin: 0 20px;
  padding-top: 42px;
  padding-bottom: 44px;


  @media (max-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    border: 2px solid $border;
  }

  @media (min-width: $desktop-width) {
    margin: 64px 130px;
    padding: 44px 60px 23px 60px;
    display: flex;
    justify-content: space-between;
  }
}

.contact-info__tittle {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    color: $brand-color;
    text-transform: uppercase;
    text-align: center;
  }
}

.contact-info__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contact-info__fieldset .contact-info__container:nth-child(2) {
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contact-info__label {
  font-size: 14px;
  color: $brand-color;
  text-transform: uppercase;
  margin-left: 22px;
  display: block;
  order: 10;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    order: 20;
    margin-bottom: 0;
    margin-top: 22px;
  }
}

.contact-info__input {
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $border;
  border-radius: 1px;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  order: 20;
  position: relative;

  @media (min-width: $tablet-width) {
    order: 10;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.contact-info__input::before {
  content: "";
  position: absolute;
  height: 59px;
  width: 59px;
  top: 0;
  right: 0;
}
