.effect__wrapper {

  @media (min-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
    width: $tablet-wrapper;
    border: 5px solid blue;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
  }
}


.effect__title {
  font-size: 30px;
  color: $basic-dark;
}

.effect__link {
  color: $brand-color;
  text-decoration: underline;
}
