.emotions, .emotions__border {
    border: 2px solid $border;
    border-radius: 1px;
  }
  
  .emotions__title {
    font-size: 14px;
    color: $brand-color;
    text-transform: uppercase;
    text-align: center;
  }
  
  .experience__list {
    list-style-type: none;
  }
  