.form__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__comment {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-bottom: 26px;
}


.form__mark {
  color: $brand-color;
}

.form__fullname {
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 10;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.form__use {
  width: 100%;
  background-color: $background;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    order: 20;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.form__experience {
  width: 100%;
  background-color: $background;

  @media (min-width: $tablet-width) {
    order: 40;
    background-color: $basic-light;
  }
}

.form__contact-info {
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 30;
  }
}

.form__emotions {
  width: 100%;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    order: 50;
    margin-bottom: 70px;
  }
}

.form__submit {
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 60;
  }
}

.form__submit-wrapper {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    margin: 0 130px;
  }
}

.form__button {
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    width: 296px;
  }
}

.form__comment-tablet {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form__comment-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
