
.page {
  margin: 0;
  font-family: "opensans", "arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: $basic-light;
  color: $basic;
}

.page__header {
  background-image: url("../img/background-main.jpg");
  background-size: cover;
  background-color: $basic-dark;
  color: $basic-light;
}
