
.page {
  margin: 0;
  font-family: "opensans", "arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: $basic-light;
  color: $basic;
}

.page__header {
  background-image: url("../img/background-main.jpg");
  background-position: 50% 100%;
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-color: $basic-dark;
  color: $basic-light;


  @media (min-width: $tablet-width) {
    background-position: 50% 50%;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-main@2x.jpg");
    }
  }
}

.page__header--index {
  background-position: 50% -60px;
  background-repeat: no-repeat;
  background-size: auto 69%;
  background-color: $basic-dark;
  color: $basic-light;


  @media (min-width: $tablet-width) {
    background-position: 50% 100%;
    background-size: auto 160%;
  }

  @media (min-width: $desktop-width) {
    background-position: 50% 82%;
    background-size: auto 192%;
  }
}
