.page-header {
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $basic-dark;
  color: $basic-light;
}

.page-header__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-wrapper;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
  }
}
