.panorama__img {
  width: 100%;
}

.panorama__tittle {
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: $basic-light;
  background-color: $brand-color;
  padding: 13px 20px 14px 19px;
  text-transform: uppercase;
  margin: 0;
}
