.panorama {
  position: relative;
}

.panorama__tittle {
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: $basic-light;
  background-color: $brand-color;
  padding: 7px 20px 7px 19px;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  right: 20px;

  @media (min-width: $tablet-width) {
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    right: 130px;
    top: 54px;
  }
}

.panorama__img {
  width: 100%;
  display: block;
}

.panorama__wrapper {
  margin: 0 20px;
  background-color: $background;
  height: 100%;

  @media (min-width: $desktop-width) {
    margin: 0 130px;
  }
}

.panorama__comment {
  line-height: 24px;
  padding: 26px 17px;
  display: flex;
  flex-direction: column;
  text-align: start;
  
  @media (min-width: $tablet-width) {
    padding: 31px 30px;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 39px 31px 27px;
  }
}

.panorama__box {
  order: 10;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-items: center;
  } 
}

.panorama__name {
  font-size: 14px;
  font-weight: bold;
}

.panorama__time  {
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
}

.panorama__text {
  order: 20;
  font-size: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    order: 30;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  } 

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}

.panorama__button {
  color: $brand-color;
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  order: 30;
  padding: 0;
  text-align: start;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    order: 20;
    margin: 0;
    text-align: end;
  }
}

.panorama__likes {
  position: relative;
  padding-left: 31px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 29px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(/img/catalog/heart.svg);
    width: 13px;
    height: 12px;
    left: 0;

    @media (min-width: $tablet-width) {
      right: 0;
      left: auto;
    }
  }
}

