.price__wrapper {
  width: 280px;
  padding: 0 20px;
}

.price__th {
  background-color: $table-head;
  text-align: center;
}

.price__title {
  color: $basic-light;
  font-weight: bold;
}

.price__number {
  color: $basic-light;
  font-size: 24px;
  font-weight: lighter;
}
