.publish__slogan {
  text-align: center;
  padding: 49px 0 52px 0;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 73px 0 78px 0;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 120px;
    padding: 67px 0 75px 0;
  }
}

.publish__photo {
  padding-top: 20px;
  margin: 0 20px;
  width: 280px;
  height: 374px;
  display: block;

  @media (min-width: $tablet-width) {
    margin: 57px 0 54px 20px;
    padding: 0;
    width: 300px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    margin: 57px 0 57px 80px;
    padding: 0;
    width: 300px;
    height: 400px;
  }
}

.publish__container {
  background-color: $background;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin: 0 120px;
  }
}
