.reviews__list {
  list-style-type: none;
}

.reviews__item {
  text-align: center;
  line-height: 30px;
  border: 5px solid red;
  display: flex;
  flex-direction: column;
}

.reviews__item-hidden {
  display: none;
}

.reviews__name {
  font-weight: bold;
  font-size: 18px;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.reviews__description {
  @media (min-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    order: 3;
  }
}

.reviews__text {
  @media (min-width: $tablet-width) {
      order: 1;
    }
}
