.store {
  outline: 5px solid red;
}

.store__wrapper {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.store__title {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: lighter;
  text-align: center;
}

// .store__img {
//   @media (min-width: $tablet-width) {
//     width: 469px;
//     height: 545px;
//   }
// }

.store__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.store__list {
  list-style-type: none;
  display: flex;
}

.store__footer {
  font-weight: lighter;
  text-align: center;
}
