$basic: #283645;
$basic-light: #FFFFFF;
$basic-dark: #000000;
$brand-color: #D22856;
$background: #F2F2F2;
$quotes: #EFEFEF;
$timer: #DEDEDE;
$table-head: #283645;
$border: #E5E5E5;
$buttom: #2AAB6D;
