// Colors

$basic: #283645;
$basic-light: #ffffff;
$basic-dark: #000000;
$brand-color: #d22856;
$background: #f2f2f2;
$quotes: #efefef;
$timer: #dedede;
$border: #e5e5e5;
$button: #2aab6d;

// Viewports

$desktop-width: 1199px;
$tablet-width: 660px;
$mobile-width-only: 320px;

// Wrappers
$desktop-wrapper: 940px;
$tablet-wrapper: 620px;
$mobile-wrapper: 280px;
